<a href="https://colab.research.google.com/github/KevinCandra9999/colab-3/blob/main/menampilkan_data_series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
 import pandas as pd

### mengekstraksi atau mengakses nilai pada series

In [19]:
teman = ['jajang', 'jijing', 'jujung', 'jojong']

In [20]:
print(teman[0:3])

['jajang', 'jijing', 'jujung']

In [21]:
teman_akrab = {0:'jajang', 1:'jijing', 2:'jujung', 3:'jojong'}

In [22]:
print(teman_akrab[0])

jajang

### menggunakan .loc

In [23]:
c = pd.Series(data=teman, index=['teman1', 'teman2', 'teman3', 'teman4'])

In [24]:
print(c['teman1':'teman3'])

teman1    jajang
teman2    jijing
teman3    jujung
dtype: object

In [25]:
c.loc['teman1':'teman3']

teman1    jajang
teman2    jijing
teman3    jujung
dtype: object

### Menggunakan dot Notation

In [26]:
c.teman1

'jajang'

boolean mask

In [27]:
c.loc[[True,True,True,True]]

teman1    jajang
teman2    jijing
teman3    jujung
teman4    jojong
dtype: object

In [28]:
c.loc[[True,False,True,True]]

teman1    jajang
teman3    jujung
teman4    jojong
dtype: object

In [29]:
angka = pd.Series(range(30))

In [30]:
pd.Series(angka)

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
26    26
27    27
28    28
29    29
dtype: int64

In [31]:
angka.loc[[True for i in range(30)]]

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
26    26
27    27
28    28
29    29
dtype: int64

In [32]:
angka.loc[[True if i%2 == 0 else False for i in range(30)]]

0      0
2      2
4      4
6      6
8      8
10    10
12    12
14    14
16    16
18    18
20    20
22    22
24    24
26    26
28    28
dtype: int64

### menggunakan metode get

In [33]:
c.get('teman1')

'jajang'

In [34]:
c.get('teman5',default='nama teman tidak ada')

'nama teman tidak ada'

### membuka file CSV

In [35]:
pd.read_csv('https://thinkjubilee.com/sekolah.csv')

                Provinsi     SD    SMP    SMA     PT
0                   ACEH  99.85  98.09  82.15  34.28
1         SUMATERA UTARA  99.49  96.60  76.76  26.80
2         SUMATERA BARAT  99.50  96.29  82.86  35.45
3                   RIAU  98.98  94.73  76.52  27.28
4                  JAMBI  99.59  95.89  71.54  24.12
5       SUMATERA SELATAN  99.63  94.01  69.05  19.17
6               BENGKULU  99.80  97.20  79.07  29.90
7                LAMPUNG  99.78  94.76  70.03  20.96
8   KEP. BANGKA BELITUNG  99.64  92.41  66.99  14.99
9              KEP. RIAU  99.32  99.08  82.80  19.13
10           DKI JAKARTA  99.67  97.64  71.50  24.60
11            JAWA BARAT  99.51  93.77  66.62  21.50
12           JAWA TENGAH  99.62  95.48  68.48  22.13
13         DI YOGYAKARTA  99.87  99.63  87.61  51.33
14            JAWA TIMUR  99.57  96.77  71.51  23.34
15                BANTEN  99.31  95.67  67.77  21.33
16                  BALI  99.44  97.72  82.16  26.56
17   NUSA TENGGARA BARAT  99.43  97.69  76.61  28.52
18   NUSA TENGGARA TIMUR  98.27  94.76  74.65  27.80
19      KALIMANTAN BARAT  98.44  92.51  67.53  25.80
20     KALIMANTAN TENGAH  99.50  93.37  66.62  24.15
21    KALIMANTAN SELATAN  99.55  92.33  68.30  23.53
22      KALIMANTAN TIMUR  99.67  98.79  81.32  30.04
23      KALIMANTAN UTARA  98.34  96.04  75.12  20.72
24        SULAWESI UTARA  99.37  94.91  73.04  24.22
25       SULAWESI TENGAH  98.15  92.41  74.87  26.31
26      SULAWESI SELATAN  99.16  93.09  70.60  32.16
27     SULAWESI TENGGARA  99.32  94.08  72.94  30.03
28             GORONTALO  98.76  91.23  69.86  29.21
29        SULAWESI BARAT  98.10  89.88  68.03  23.49
30                MALUKU  99.72  96.86  79.08  38.20
31          MALUKU UTARA  99.19  97.24  76.06  32.10
32           PAPUA BARAT  97.27  96.92  80.60  31.92
33                 PAPUA  81.80  79.09  63.35  24.57

### Sekilas tentang Series dan dataframe

In [36]:
pd.read_csv('https://thinkjubilee.com/sekolah.csv', usecols=['Provinsi', 'SD'], index_col='Provinsi',squeeze=True)

<ipython-input-36-5ffc9454e2a9>:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  pd.read_csv('https://thinkjubilee.com/sekolah.csv', usecols=['Provinsi', 'SD'], index_col='Provinsi',squeeze=True)

Provinsi
ACEH                    99.85
SUMATERA UTARA          99.49
SUMATERA BARAT          99.50
RIAU                    98.98
JAMBI                   99.59
SUMATERA SELATAN        99.63
BENGKULU                99.80
LAMPUNG                 99.78
KEP. BANGKA BELITUNG    99.64
KEP. RIAU               99.32
DKI JAKARTA             99.67
JAWA BARAT              99.51
JAWA TENGAH             99.62
DI YOGYAKARTA           99.87
JAWA TIMUR              99.57
BANTEN                  99.31
BALI                    99.44
NUSA TENGGARA BARAT     99.43
NUSA TENGGARA TIMUR     98.27
KALIMANTAN BARAT        98.44
KALIMANTAN TENGAH       99.50
KALIMANTAN SELATAN      99.55
KALIMANTAN TIMUR        99.67
KALIMANTAN UTARA        98.34
SULAWESI UTARA          99.37
SULAWESI TENGAH         98.15
SULAWESI SELATAN        99.16
SULAWESI TENGGARA       99.32
GORONTALO               98.76
SULAWESI BARAT          98.10
MALUKU                  99.72
MALUKU UTARA            99.19
PAPUA BARAT             97.27
PAPUA                   81.80
Name: SD, dtype: float64

In [37]:
pendidikan = pd.read_csv('https://thinkjubilee.com/sekolah.csv')

In [38]:
type(pendidikan)

pandas.core.frame.DataFrame

### atribut dan fungsi pada series

In [39]:
pendidikan = pd.read_csv('https://thinkjubilee.com/sekolah.csv', usecols=['Provinsi', 'SD'], index_col='Provinsi',squeeze=True)

<ipython-input-39-69dbcde758a1>:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  pendidikan = pd.read_csv('https://thinkjubilee.com/sekolah.csv', usecols=['Provinsi', 'SD'], index_col='Provinsi',squeeze=True)

In [40]:
type(pendidikan)

pandas.core.series.Series

In [41]:
pendidikan.size

34

In [42]:
pendidikan

Provinsi
ACEH                    99.85
SUMATERA UTARA          99.49
SUMATERA BARAT          99.50
RIAU                    98.98
JAMBI                   99.59
SUMATERA SELATAN        99.63
BENGKULU                99.80
LAMPUNG                 99.78
KEP. BANGKA BELITUNG    99.64
KEP. RIAU               99.32
DKI JAKARTA             99.67
JAWA BARAT              99.51
JAWA TENGAH             99.62
DI YOGYAKARTA           99.87
JAWA TIMUR              99.57
BANTEN                  99.31
BALI                    99.44
NUSA TENGGARA BARAT     99.43
NUSA TENGGARA TIMUR     98.27
KALIMANTAN BARAT        98.44
KALIMANTAN TENGAH       99.50
KALIMANTAN SELATAN      99.55
KALIMANTAN TIMUR        99.67
KALIMANTAN UTARA        98.34
SULAWESI UTARA          99.37
SULAWESI TENGAH         98.15
SULAWESI SELATAN        99.16
SULAWESI TENGGARA       99.32
GORONTALO               98.76
SULAWESI BARAT          98.10
MALUKU                  99.72
MALUKU UTARA            99.19
PAPUA BARAT             97.27
PAPUA                   81.80
Name: SD, dtype: float64

In [43]:
pendidikan.values

array([99.85, 99.49, 99.5 , 98.98, 99.59, 99.63, 99.8 , 99.78, 99.64,
       99.32, 99.67, 99.51, 99.62, 99.87, 99.57, 99.31, 99.44, 99.43,
       98.27, 98.44, 99.5 , 99.55, 99.67, 98.34, 99.37, 98.15, 99.16,
       99.32, 98.76, 98.1 , 99.72, 99.19, 97.27, 81.8 ])

In [44]:
pendidikan.index

Index(['ACEH', 'SUMATERA UTARA', 'SUMATERA BARAT', 'RIAU', 'JAMBI',
       'SUMATERA SELATAN', 'BENGKULU', 'LAMPUNG', 'KEP. BANGKA BELITUNG',
       'KEP. RIAU', 'DKI JAKARTA', 'JAWA BARAT', 'JAWA TENGAH',
       'DI YOGYAKARTA', 'JAWA TIMUR', 'BANTEN', 'BALI', 'NUSA TENGGARA BARAT',
       'NUSA TENGGARA TIMUR', 'KALIMANTAN BARAT', 'KALIMANTAN TENGAH',
       'KALIMANTAN SELATAN', 'KALIMANTAN TIMUR', 'KALIMANTAN UTARA',
       'SULAWESI UTARA', 'SULAWESI TENGAH', 'SULAWESI SELATAN',
       'SULAWESI TENGGARA', 'GORONTALO', 'SULAWESI BARAT', 'MALUKU',
       'MALUKU UTARA', 'PAPUA BARAT', 'PAPUA'],
      dtype='object', name='Provinsi')

In [45]:
pendidikan.values.size == pendidikan.index.size

True

In [46]:
len(pendidikan)

34

In [47]:
pendidikan.shape

(34,)

In [48]:
pendidikan2 = pd.read_csv('https://thinkjubilee.com/sekolah.csv')

In [49]:
pendidikan2.shape

(34, 5)

### unik dan monotonik

In [50]:
pendidikan.is_unique

False

In [51]:
pendidikan.head(5)

Provinsi
ACEH              99.85
SUMATERA UTARA    99.49
SUMATERA BARAT    99.50
RIAU              98.98
JAMBI             99.59
Name: SD, dtype: float64

In [52]:
pendidikan.head(5).is_unique

True

In [53]:
pendidikan.nunique()

31

In [54]:
pendidikan.is_monotonic_increasing

False

In [55]:
pd.Series([1,2,3,4,5]).is_monotonic_increasing

True

In [56]:
pendidikan.is_monotonic_increasing

False

tugas 2

In [57]:
nilai = pd.Series([2,4,6,8,10]).is_unique
print(nilai)

True

In [58]:
nilai = pd.Series([2,4,6,8,10]).is_monotonic_increasing
print(nilai)

True

### None/null

In [59]:
tes = pd.Series([10,9,8,7,6,None,5])

In [60]:
tes.size

7

In [61]:
tes.count()

6

In [62]:
tes.hasnans

True