<a href="https://colab.research.google.com/github/KevinCandra9999/colab-3/blob/main/pengantar_data_pada_phyton.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Pengantar Phyton

Memahami list

In [ ]:
joni = ['Joni Gudel', 27]
mimin = ['Mimin Item', 10]
database = [joni, mimin]
print (database)

[['Joni Gudel', 27], ['Mimin Item', 10]]

mengenal indexing

In [ ]:
nama = 'Joni Gudel'
print (nama[0])
print (nama[1])
print (nama[2])
print (nama[3])
print (nama[4])
print (nama[5])
print (nama[6])
print (nama[7])
print (nama[8])
print (nama[9])

J
o
n
i

G
u
d
e
l

In [ ]:
print('mimin item'[0])

m

mengenal slicing

In [ ]:
nama = 'Joni Gudel'
print (nama[0:4])

Joni

In [ ]:
nama = 'Joni Gudel'
print (nama[0:4:1])

Joni

KOnsep Dictionary

In [ ]:
nilai_IPA = {'Joni' : 5,
             'Jono' : 7,
             'Jana' : 8,
             'Jini' : 9,
             'Junu' : 3,
             'Dimas' : 6,
             'Dimis' : 2,
             'mimi' : 8}
nama = input("masukan nama siswa : ")
if nama in nilai_IPA:
    print ("nilai IPA",nama, "adalah", nilai_IPA[nama])
else:
    print ("Data Siswa Tidak Ditemukan")
    print ("berikut nama-nama siswa:")
    for i in nilai_IPA.keys() :
      print(i)

masukan nama siswa : Joni
nilai IPA Joni adalah 5

menambahkan isi nilai pada list

In [ ]:
sahabat = ["Joni", "Beni", "Kuncung"]
sahabat.append(["Edward"])
print(sahabat)

['Joni', 'Beni', 'Kuncung', ['Edward']]

In [ ]:
sahabat.insert(0, "Siti")
print(sahabat)

['Siti', 'Joni', 'Beni', 'Kuncung', ['Edward']]

tugas

In [ ]:
sahabat = ['Joni','Beni','Edi']
print(sahabat[0])

Joni

### Dasar Pandas

menambahkan pandas

In [ ]:
import pandas as pd

In [ ]:
print(pd.__version__)

1.5.3


mengenal series

In [ ]:
teman = ['jajang', 'jijing', 'jujung', 'jojong']

In [ ]:
type(teman)

list

In [ ]:
pd.Series(teman)

0    jajang
1    jijing
2    jujung
3    jojong
dtype: object

In [ ]:
usia = [17, 21, 33, 44]

In [ ]:
pd.Series(usia)

0    17
1    21
2    33
3    44
dtype: int64

In [ ]:
tinggi_badan = [164.7, 170.4, 180.7, 183.8]

In [ ]:
pd.Series(tinggi_badan)

0    164.7
1    170.4
2    180.7
3    183.8
dtype: float64

In [ ]:
data_acak = [1,'yogyakarta', 18.5, {'kondisi':100}]

In [ ]:
pd.Series(data_acak)

0                   1
1          yogyakarta
2                18.5
3    {'kondisi': 100}
dtype: object

tugas 1

In [ ]:
import pandas as pd
sahabat = ['Joni', 'Edi', 'Siti']
pd.Series(sahabat)

0    Joni
1     Edi
2    Siti
dtype: object

In [ ]:
import pandas as pd
sahabat = ['Joni', 'Edi', 'Siti']
sahabat = sahabat + ['Fredi', 'Ucok']
pd.Series(sahabat)

0     Joni
1      Edi
2     Siti
3    Fredi
4     Ucok
dtype: object

Mengenal Karakteristik data

In [ ]:
teman = ['jajang', 'jijing', 'jujung', 'jojong']

In [ ]:
teman_akrab = {0:'jajang', 1:'jijing', 2:'jujung', 3:'jojong'}

In [ ]:
a=pd.Series(teman)
b=pd.Series(teman_akrab)

In [ ]:
a.equals(b)

True

index dan rangeindex

In [ ]:
teman = ['jajang', 'jijing', 'jujung', 'jojong']

In [ ]:
pd.Series(data=teman, index=['teman1', 'teman2', 'teman3', 'teman4'])

teman1    jajang
teman2    jijing
teman3    jujung
teman4    jojong
dtype: object

In [ ]:
pd.Series(teman).index

RangeIndex(start=0, stop=4, step=1)

In [ ]:
pd.RangeIndex(start=5, stop=8, step=1)

RangeIndex(start=5, stop=8, step=1)

In [ ]:
list(pd.RangeIndex(start=5, stop=8, step=1))

[5, 6, 7]

memberi nama pada series

In [ ]:
namateman = pd.Series(teman)
namateman.name = 'Daftar Teman Akrab'
namateman

0    jajang
1    jijing
2    jujung
3    jojong
Name: Daftar Teman Akrab, dtype: object

In [ ]:
namateman.index.name= 'nomor urut teman'
namateman

nomor urut teman
0    jajang
1    jijing
2    jujung
3    jojong
Name: Daftar Teman Akrab, dtype: object

menggunakan head() dan tail() method

In [ ]:
angka = pd.Series(range(100))

In [ ]:
angka.head(10)

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [ ]:
angka.tail(11)

89    89
90    90
91    91
92    92
93    93
94    94
95    95
96    96
97    97
98    98
99    99
dtype: int64